body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

.weather-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
